* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body{
	font-size: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}

img{
	max-width: 100%;
}
.container {
	/* border:1px solid red; */
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.br_mobile,.mobile_nav{
	display: none;
}


/*Carousel Header*/
.owl-theme .owl-dots .owl-dot span{
	background-color: #212225;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: #f9812b;
}

.slide_one .owl-dots .owl-dot{
	margin-top: 190px;
}

/*Carousel Portfolio*/
.slide_two .owl-dots .owl-dot{
	margin-top: 60px;
}

.owl-theme .owl-nav .owl-next span,
.owl-theme .owl-nav .owl-prev span{
	position: absolute;
	top: 50%;
	bottom: 50%;
	width: 70px;
	height: 50px;
	border-radius:5px;
	font-size: 37px;
	background-color: blue/* #f3f3f3 */;
	color: #fff;
}

.owl-carousel .owl-nav .owl-next span{
	right: -180px;
}

.owl-carousel .owl-nav .owl-prev span{
	left: -180px;
}

/*Header styles*/
header{
	background:
	linear-gradient( rgba(49, 50, 54, .9), rgba(49, 50, 54, .9)), 
	/* bottom: image */
	url(../img/header_bg.jpg)  no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	padding-bottom: 50px;
	position: relative;
}
.header_wrapper{
	display: flex;
	padding-top: 30px;
}
.logo_wrapper{
	position: relative;
	/* border: 1px solid violet; */
}
.logo{
	font-family: "Roboto" ,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
}
.logo_label{
	position: absolute;
	top: 10px;
	left: 200px;
	padding: 5px 15px;
	background-color: #f9812b;
	border-radius:3px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
}

.header_nav{
	display: flex;
	justify-content: flex-end;
	flex:1;
}

ul{
	/* border:1px solid gold; */
	width: 70%;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

li{
	font-family: "Roboto" ,sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	list-style-type: none;
	text-transform: uppercase;
}

li:hover{
	background-color: #f07a25;
	padding:5px 15px;
	border-radius:3px;
}

.description_wrapper{
	text-align: center;
}

.header_title{
	max-width: 1000px;
	font-family: "Roboto" ,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid grey;
	margin: 300px auto 50px;
	padding: 20px 10px;

}

.header_text{
	font-family: "Roboto" ,sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
}
.btn_container{
	margin-top: 100px;
}
.btn{
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	display: inline-block;
	width: 200px;
	height: 60px;
	text-transform: uppercase;
	padding-top: 17px;
}

.header_btn_orange{
	background-color: rgb(249,129,40);
	margin-right: 25px;
}

.header_btn_black{
	background-color: rgb(2,4,5);
}

/* Portfolio */
.mobile_portfolio{
	display: none;
}

.portfolio{
	padding-top: 100px;
	padding-bottom: 50px;
}
.portfolio_title,.feature_title,.theme_title{
	text-align: center;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
}

.portfolio_title span, .feature_title span,.theme_title span{
	font-size: 30px;
	color:#c0c0c0;
}

.portfolio_wrapper{
	margin-top: 120px;
	display: flex;
	justify-content: space-between;
}
.portfolio_left,
.portfolio_right{
	text-align: center;
}

.portfolio_btn{
	margin-top: 50px;
}

/* About Us */
.about_us{
	padding-top: 100px;
	padding-bottom: 60px;
	background:
	linear-gradient( rgba(49, 50, 54, .9), rgba(49, 50, 54, .9)), 
	/* bottom: image */
	url(../img/about_bg.jpg)  no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	
}
.about_title{
	text-align: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
}

.wrapper_about_us{
	max-width: 1500px; 
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.about_us_info {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 320px;
	border:1px solid grey;
	border-radius: 50%;
	line-height: 1.5;
	text-align: center;
	color: #fff;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
} 

.about_us_info span{
	display: block;
	text-transform: uppercase;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
}

/*Features*/
.features{
	padding-top: 100px;
	padding-bottom: 200px;
}

h4{
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	font-size: 17px;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 30px;
}

.features_wrapper{
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.feature{
	max-width: 1500px;
	flex-basis: 30%;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin: 100px auto 0;
} 

.icon{
	margin-right: 20px;
	flex-basis: 45%;
}

.feature_description{
	font-family: "Roboto";
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
}

.features_icon{
	max-width: 100%;
	min-width: 30px;
	min-height: 30px;
}

/*Get Started Styles*/
.get_started{
	padding: 75px 0 55px;
	background-color: #313236;
	color: #fff;
	text-align: center;
}

.get_started_title{
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.get_started_description{
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	padding-bottom: 35px;
}

.get_started_btn{
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	font-size: 17px;
	background-color: transparent;
	border:2px solid #fff;
}

/*Theme Styles*/
.theme{
	padding-top: 100px;
	padding-bottom: 320px;
}

.theme_wrapper{
	width: 95%;
	display: flex;
	padding-top: 150px;
	margin: auto;
}

.theme_info{
	display: flex;
	padding-bottom: 70px;
}

.theme_icon{
	margin-right: 30px;
}
.theme_text{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
}

/*Footer Styles*/
.contact{
	background-color: #313236;
	color: #fff;
	text-align: center;
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
}

.contact_text{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 85%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
	background-color: #f9812b;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
}

/*Social Icons Styles*/
.social_icons{
	max-width: 215px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.brand{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand_facebook{
	background-color: rgb(238,43,73);
}
.brand_facebook:hover{
	background-color: rgba(238,43,73,.7);
}

.brand_tumblr{
	background-color: rgb(0,172,179);
}
.brand_tumblr:hover{
	background-color: rgba(0,172,179,.7);
}

.brand_linkedin{
	background-color: rgb(208,85,22);
}

.brand_linkedin:hover{
	background-color: rgba(208,85,22,.7);
}

.brand_vimeo{
	background-color: rgb(208,85,222);
}

.brand_vimeo:hover{
	background-color: rgba(208,85,222,.7);
} 

/*Copyright*/
.contact__copy{
	padding-top: 85px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
}


/*Mobile Menu Styles*/
.mobile_wrapper{
	padding-top: 20px;
	width:95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
/* Dropdown Button */
.dropbtn {
	margin-top: 3px;
	background-color: rgb(249,129,43); 
	color: white;
	padding: 3px 13px;
	border-radius:3px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 13px;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #f9812b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	/* position: relative; */
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	/* background-color: rgba(49,50,54,.5); */
	 background-color: rgba(249,129,43,.1); 
	/* background-color: black; */
	min-width: 260px;
	width: 100%;
	100vh	
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	right: 0;
	text-align: center;

}

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}