footer
    div.footer_contaner
        div.footer_feedback_block
            img(src="img/footer_bg.png" alt="car")
        div.footer_social_block
            p.copiright copiright U+0040 2019
            div.social_icons
                div.social_icon.facebook
                    i(class="fab fa-facebook-f")
                div.social_icon.twitter
                    i(class="fab fa-twitter")
                div.social_icon.instagram
                    i(class="fab fa-instagram")