footer
    div.footer_contaner
        div.footer_feedback_block
            img(src="img/footer_bg.png" alt="car")
        div.footer_social_block
            p.copiright copiright
            div.social_icons

