footer
    div.footer_contaner
        div.footer_feedback_block
            img(src="img/footer_bg.jpg" alt="car")
        div.footer_social_block right
            p.copiright copiright
            div.social_icons
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
