footer.footer
    img(src="img/footer_bg.png" alt="car")
    div.footer_feedback_block
        div.container.footer_container
            div.block_left.footer_note_wrap
                div.footer_note
                    p We provide traffic management consultants so you get started quickly, contact us for a quote today!
            div.block_right.footer_form_wrap
                form.form-example(action='' method='get')
                    div.form-example
                        label.footer_form_label(for='name') Name: 
                        input.footer_input#name(type='text' name='name' placeholder="Your name" required='')
                    div.form-example
                        label.footer_form_label(for='email') Email adress: 
                        input.footer_input#email(type='email' name='email' placeholder="Your email address" required='')
                    div.form-example
                        button.footer_input.footer_btn(type='submit') get started
                            i(class="fas fa-long-arrow-alt-right footer_btn_arrow")
    div.footer_menu
        div.container.footer_menu_container
              nav.footer_nav
      
                    img(src="img/logo.png" alt="logo")
                div.footer_menu
                    ul.footer_ul
                        li.nav_item
                            a(href='#') how to
                        li.nav_item
                            a(href='#') about us
                        li.nav_item
                            a(href='#') faqs

    div.footer_social_block
        p.copiright copiright @ 2019
        div.social_icons
            div.social_icon.facebook
                i(class="fab fa-facebook-f")
            div.social_icon.twitter
                i(class="fab fa-twitter")
            div.social_icon.instagram
                i(class="fab fa-instagram")