footer
    div.footer_contaner
        div.footer_feedback_block left
        div.footer_socila_block right
            p.copiright
            div.social_icons
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
