footer.footer
    img(src="img/footer_bg.png" alt="car")
    div.container.footer_contaner
        div.footer_feedback_block
            div.block_left
                div.footer_note
                    p We provide traffic management consultants so you get started quickly, contact us for a quote today!
            div.block_right
                form(action='/add_movie', method='POST')
                    p
                        | title: 
                        input(type='text', name='title', value='')
                        |          year: 
                        input(type='text', name='year', value='')
                        |          imdb: 
                        input(type='text', name='imdb', value='')
                        input(type='submit', value='Submit')

        //- div.footer_social_block
        //-     p.copiright copiright @ 2019
        //-     div.social_icons
        //-         div.social_icon.facebook
        //-             i(class="fab fa-facebook-f")
        //-         div.social_icon.twitter
        //-             i(class="fab fa-twitter")
        //-         div.social_icon.instagram
        //-             i(class="fab fa-instagram")