header
  img(src="img/header_bg.png" alt="delivery")
  nav.common_nav.header_nav
    div.common_logo.header_logo
      img(src="img/logo.png" alt="logo")
    ul.common_ul.header_ul
      li.nav_item
        a(href='#how_to') about
      li.nav_item
        a(href='#about_us') how to
      li.nav_item
        a(href='#faq') faqs

    div.btn.header_btn
      a(href="tel:123-456-7890") contact us
  
  div.header_intro
    div.intro_text.h2_like Your awesome traffic permit consultant.
    div.btn.intro_btn 
      a(href='#') get started
      i(class="fas fa-long-arrow-alt-right intro_btn_icon")



