header
  img(src="img/header-bg.jpg" alt="delivery")
  div.top_pannel
    nav.header_nav
      div.header_logo
        img(src="img/logo.png" alt="logo")
      div.header_menu
        ul.header_ul
          li 
            a(href='#') how to
          li
            a(href='#') about us
          li
            a(href='#') fqas

