header
  img(src="img/header_bg.png" alt="delivery")
  nav.common_nav.header_nav
    div.common_logo.header_logo
      img(src="img/logo.png" alt="logo")
    div.common_menu.header_menu
      ul.common_ul.header_ul
        li.nav_item
          a(href='#') how to
        li.nav_item
          a(href='#') about us
        li.nav_item
          a(href='#') faqs

    div.header_btn
      a(href='#') contact us
  
  div.header_intro
    div.intro_text.h2_like Your awesome traffic permit consultant.
    div.intro_btn 
      a(href='#') get started
      i(class="fas fa-long-arrow-alt-right intro_btn_icon")



