header
  img(src="img/header-bg.jpg" alt="delivery")
  div.top_pannel
    div.header_logo
      img(src="img/logo.png" alt="logo")
    nav.header_nav
      ul
        li 
          a(href='#') how to
        li
          a(href='#') about us
        li
          a(href='#') fqas

