header
  img(src="img/header-bg.jpg" alt="delivery")
  nav.header_nav
    div.header_logo
      img(src="img/logo.png" alt="logo")
    div.header_menu
      ul.header_ul
        li.nav_item
          a(href='#') how to
        li.nav_item
          a(href='#') about us
        li.nav_item
          a(href='#') faqs
        li.nav_item.header_btn
          a(href='#') contact us

    div.header_btn
      a(href='#') contact us


