section.features-section
  .container
    .title
      h2 Tinyone features
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    section.features
      .features-row
        .feature
          .feature__icon
            i.fas.fa-tablet-alt
          .feature__info
            h3.feature__title fully responsive
            p.feature__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature
          .feature__icon
            i.far.fa-lemon
          .feature__info
            h3.feature__title fully layered PSD
            p.feature__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature
          .feature__icon
            i.far.fa-folder
          .feature__info
            h3.feature__title font awesome icons 
            p.feature__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature
          .feature__icon
            i.fas.fa-code
          .feature__info
            span
            h3.feature__title.title-uppercase html & css3
            p.feature__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature
          .feature__icon
            i.far.fa-envelope
          .feature__info
            h3.feature__title email template
            p.feature__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature
          .feature__icon
            i.far.fa-bookmark
          .feature__info
            h3.feature__title free to download
            p.feature__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.