section.features-section
  .container
    .title
      h2 Tinyone features
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    section.features-items
      .features-items-row
        .feature-item
          .icon-wrap
            i.fas.fa-tablet-alt
          .feature-description
            h3 fully responsive
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature-item
          .icon-wrap
            i.far.fa-lemon
          .feature-description
            h3 fully layered PSD
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature-item
          .icon-wrap
            i.far.fa-folder
          .feature-description
            h3 font awesome icons 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature-item
          .icon-wrap
            i.fas.fa-code
          .feature-description
            span
            h3.title-uppercase html & css3
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature-item
          .icon-wrap
            i.far.fa-envelope
          .feature-description
            h3 email template
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.

        .feature-item
          .icon-wrap
            i.far.fa-bookmark
          .feature-description
            h3 free to download
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.