footer.footer-section
  .container
    .title
      h2 Sign up for our newsletter
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    section.footer-subscribe-form
      form(action='send.php', method='post')
        input.form-input.footer-form-input(type='text', name='email', placeholder='Enter your email to update')
        input.footer-form-submit(type='submit', value='Submit')

    section.footer-info-links
      .contacts
        address
          span halovietnam lid
          br.hidden-in-mobile
          | 66, Dang Van ngu, Dong Da
          br.hidden-in-mobile
          | Hanoi, VIetnam
        a(href='mailto:someone@yoursite.com?subject=Mail from Our Site')  contact@halovietnam.com
        br
        a(href='tel:1-562-867-5309') +844 1234 56789

      .item-link.about-company
        ul
          li
            a(href='#') Examples
          li
            a(href='#') Shop 
          li
            a(href='#') License

      .item-link.footer-menu
        ul
          li
            a(href='#') Examples
          li
            a(href='#') Shop 
          li
            a(href='#') License

      .item-link.about-company
        ul
          li 
            a(href='#') Download
          li 
            a(href='#') Support
          li 
            a(href='#') Documents

      .item-link.community-company
        ul
          li 
            a(href='#') Media
          li 
            a(href='#') Blog
          li 
            a(href='#') Forums
  