header
  .container
    section.top-line
      nav
        .burger-icon#trigger
          svg#svg8(xmlns='http://www.w3.org/2000/svg', xmlns:cc='http://creativecommons.org/ns#', xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', height='48', version='1.1', viewBox='0 0 12.7 12.7', width='48')
            g#layer1(transform='translate(0,-284.29998)')
              path#rect4487(d='m 2.8222223,287.1222 v 1.41111 h 7.0555558 v -1.41111 z m 0,2.82222 v 1.41112 h 7.0555558 v -1.41112 z m 0,2.82223 v 1.41111 h 7.0555558 v -1.41111 z', style='opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.07055555;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1')
      
        ul#menu.menu
          li
            a(href='#') home
          li
            a(href='#') portfolio
          li
            a(href='#') about us
          li
            a(href='#') services
          li
            a(href='#') themes
          li
            a(href='#') contact

      .logo-wrap
        .logo-icon
          img(src='img/logo.png', alt='logo')
        .logo-text tinyone
      .social-icon-wrap
        a(href="#")
          i.fab.fa-facebook-f
        a(href="#")
          i.fab.fa-twitter
        a(href="#")
          i.fab.fa-google-plus-g
        a(href="#")
          i.fab.fa-pinterest

    section.cover-section
      .cover-wrap
        h1 Inspire your inspiration
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        .btn-wrap
          button.btn get started
        .scroll-wrap
          i.fas.fa-long-arrow-alt-down
