section.portfolio-section
  .container
    .title
      h2 Our works
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    .portfolio-row
      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 1.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description
          h3.portfolio-item__title fully responsive
          p Design/Branding

      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 2.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title font awesome icons
          p Design/Branding

      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 3.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title html5/css3
          p App / development
            
      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 4.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title varios layouts
          p Branding

    .portfolio-row
      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 5.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title fully responsive
          p Design/Branding

      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 6.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title fully responsive
          p Design/Branding

      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 7.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title fully responsive
          p App / development

      .portfolio-item
        .portfolio-item__info
          img(src='img/Layer 1.png', alt='img_1')
          .portfolio-item__views
            i.far.fa-eye
            span 279
          .today__date
            span 17/03/19
            i.far.fa-clock
          .portfolio-item__overlay
            .resize-img-icon
              i.fas.fa-plus-circle
        .portfolio-item__description 
          h3.portfolio-item__title varios layouts
          p Branding





