section.portfolio-section
  .container
    .title
      h2 Our works
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    .portfolio-items
      .portfolio-items-row

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 1.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 2.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 3.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 4.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

      .portfolio-items-row

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 5.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 6.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 7.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding

        .portfolio-item
          div.portfolio-img
            img(src='img/Layer 1.png', alt='img_1')
            div.img-views-wrap
              div.img-views
                i.far.fa-eye
                span 279
              div.today-date
                span 17/03/19
                i.far.fa-clock
            .overlay
              .resize-img-icon
                i.fas.fa-plus-circle
          div.img-description 
            h3 fully responsive
            p Design/Branding




