section.pricing-section
  .container
    .title
      h2 Pricing And Free Trial
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.lll

    .tarrifs
      .tarrif
        .tarrif__icon
          i.fas.fa-tablet-alt
        h3.tarrif__title Basic
        p.tarrif__description Lorem ipsum dolor sit amet, consectetur adipiscing elit
        h3.tarrif__price free
        p.tarrif__term free forever
        button.tarrif__button get free now

      .tarrifs
      .tarrif
        .tarrif__icon
          i.fas.fa-tablet-alt
        h3.tarrif__title Standart
        p.tarrif__description Lorem ipsum dolor sit amet, consectetur adipiscing elit
        h3.tarrif__price $99
        p.tarrif__term month
        button.tarrif__button upgrade

      .tarrifs
      .tarrif
        .tarrif__icon
          i.fas.fa-tablet-alt
        h3.tarrif__title Enterprise
        p.tarrif__description Lorem ipsum dolor sit amet, consectetur adipiscing elit
        h3.tarrif__price $199
        p.tarrif__term month
        button.tarrif__button learn more