section.features-section
  .container
    .title
      h2 Pricing And Free Trial
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.lll

    .circle
    	lll