section.pricing-section
  .container
    .title
      h2 Pricing And Free Trial
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.lll

    .price-items-wrap
      .price-item
        .price-details
          .circle
            i.fas.fa-tablet-alt
          h3.title-price Basic
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .price-type
          h3.title-price-type free
          p.access-days free forever
        .btn-price-wrap
          button.btn-price get free now

      .price-item
        .price-details
          .circle
            i.fas.fa-laptop
          h3.title-price Standart
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .price-type
          h3.title-price-type $99
          p.access-days month
        .btn-price-wrap
          button.btn-price upgrade

      .price-item
        .price-details
          .circle
            i.fas.fa-desktop
          h3.title-price Enterprise
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .price-type
          h3.title-price-type $199
          p.access-days month
        .btn-price-wrap
          button.btn-price learnmore
