section.stats-section
  .container
    .title
      h2 Stats & Testimonial
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    .stats-items-wrap
      .stats-item
        .stats-type
          i.fas.fa-puzzle-piece        
          p.stats-result
            span 20
          | Product

      .stats-item
        .stats-type
          i.fas.fa-cloud-download-alt        
          p.stats-result
            span 120
          | Downloades

      .stats-item
        .stats-type
          i.fas.fa-users        
          p.stats-result
            span 1200
          | Customers

      .stats-item
        .stats-type
          i.fas.fa-thumbs-up        
          p.stats-result
            span 900
          | Like

    .client-wrap
      figure
        img.circle(src='img/face.png', alt='')
        figcaption
          p.name John Doe
          p.profession-type From Wordpress
        .client-feedback
          blockquote
            p
              span
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.
          