section.team-section
  .container
    .title
      h2 Our team
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    .team-items-wrap
      .team-item
        figure
          img.circle(src='img/img 1.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-wrap
          i.fab.fa-facebook-f
          i.fab.fa-twitter
          i.fab.fa-google-plus-g

      .team-item
        figure
          img.circle(src='img/img 2.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-wrap
          i.fab.fa-facebook-f
          i.fab.fa-twitter
          i.fab.fa-google-plus-g

      .team-item
        figure
          img.circle(src='img/img 1.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-wrap
          i.fab.fa-facebook-f
          i.fab.fa-twitter
          i.fab.fa-google-plus-g

      .team-item
        figure
          img.circle(src='img/img 2.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .social-wrap
          i.fab.fa-facebook-f
          i.fab.fa-twitter
          i.fab.fa-google-plus-g

