section.team-section
  .container
    .title
      h2 Our team
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.

    .teams
      .team
        figure
          img.circle(src='img/img 1.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .team__social__icons
          i.fab.fa-facebook-f.team__social__icon
          i.fab.fa-twitter.team__social__icon
          i.fab.fa-google-plus-g.team__social__icon

      .team
        figure
          img.circle(src='img/img 2.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .team__social__icons
          i.fab.fa-facebook-f.team__social__icon
          i.fab.fa-twitter.team__social__icon
          i.fab.fa-google-plus-g.team__social__icon

      .team
        figure
          img.circle(src='img/img 1.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .team__social__icons
          i.fab.fa-facebook-f.team__social__icon
          i.fab.fa-twitter.team__social__icon
          i.fab.fa-google-plus-g.team__social__icon

      .team
        figure
          img.circle(src='img/img 2.jpg', alt='')
          figcaption
            p.name John Doe
            p.profession-type UI Designer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .team__social__icons
          i.fab.fa-facebook-f.team__social__icon
          i.fab.fa-twitter.team__social__icon
          i.fab.fa-google-plus-g.team__social__icon

