div.block_left
    div.about_us_text
        h2 about us
        p The occupational traffic permit is one of the most important things in the company when carrying out freight transport. In fact, it is a prerequisite for doing business traffic at all.
    div.about_us_question How do you do when you need to obtain a commercial traffic permit for freight transport to your business?
div.block_rigth
    img(src="img/about_us.jpg" alt="deliveryman")