section.apply
    div.container_about_us
        div.block_left
            img(src="img/how_to_apply.jpg" alt="call center operator")
        div.block_right
            div.apply_text
                h2 how to apply
                p The occupational traffic permit is one of the most important things in the company when carrying out freight transport. In fact, it is a prerequisite for doing business traffic at all.
        
            