section.apply
    div.container.container_apply
        div.block_left
            img(src="img/how_to_apply.png" alt="call center operator")
        div.block_right
            div.apply_text
                h2 how to apply
                p When applying for a traffic permit, there are certain requirements that you must meet that are included in the examination: requirements for professional knowledge, solid establishment, good reputation and financial resources. Important to remember is to confirm your application for a traffic permit by the company's company signer or CEO.
        
            