section.carousel
    div.container.container_carousel
        div.block_left
            h2 about us
            p Out Awesome Clients
        div.block_right
            div.apply_text
                h2 how to apply
                div.reviews_block Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.
                figure.right
                    figcaption.right Подпись справа
                    img(src="image/cocktail.jpg" width="200" height="200" alt="")
        
            