section.carousel
    div.carousel_container
        div.carousel_block_left
            h2 about us
            p.h2_like Out Awesome Clients
        div.carousel_block_right
            div.reviews_block
                p Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.
                figure.reviews_figure.right
                    img.reviews_img(src="img/man.jpg" alt="")
                    figcaption.reviews_figcaption.right Isak Pettersson

            div.reviews_block
                p Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.
                figure.reviews_figure.right
                 
            