section.faq
    //- div.container.container_faq
    //-     div.block_left
    //-         div.about_us_text
    //-             h2 faq
    //-             p Questions and Answers on Professional Traffic Permits:
    //-     div.block_right
    //-         img(src="img/faqs.jpg" alt="deliveryman")
    div.container.container_faq
        div.block_left
            div.question What is a professional traffic permit?
            <i class="fas fa-plus"></i>
        div.block_right
            div.question When is a professional traffic permit needed?
            <i class="fas fa-plus"></i>