section.faq
    div.container.container_faq
        div.block_left
            div.about_us_text
                h2 faq
                p Questions and Answers on Professional Traffic Permits:
        div.block_right
            img(src="img/faq.png" alt="deliveryman")
    div.container.container_faq
        div.block_left
            div.question
                p What is a professional traffic permit?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p How to check the traffic condition?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p What are the requirements for a professional traffic permit?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p Are there professional traffic permit training courses at a distance?
                <i class="fas fa-plus fqa_icon"></i>

        div.block_right
            div.question 
                p When is a professional traffic permit needed?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p Where to look for a traffic permit?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p Are there differences between a traffic permit and a professional traffic permit?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p How much does a commercial traffic permit cost for goods?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p How to plug in for the traffic permit test?
                <i class="fas fa-plus fqa_icon"></i>
            div.question 
                p How is the sample for a professional traffic permit booked?
                <i class="fas fa-plus fqa_icon"></i>
            div.btn_load_more load more