section.contacts-wrap
	.container
		h1 get in touch
		p.description Curabitur bland it tempus porttitor. Maecenas faucibus mollis interdum
		.contacts
			div.adress
				div.map-icon-wrap
					img(src='img/icons/map.png', alt='adress-icon')
				address Moonshine Street No: 14/05 Light City, Jupiter
			div.tel
				div.tel-icon-wrap
					img(src='img/icons/tel.png', alt='tel-icon')
				a(href='tel:1-562-867-5309') 1-562-867-5309