header
  .container
    .header-wrapper.desktop-nav
      .logo-wrapper
        .logo-icon
          img(src='img/logo.png', alt='img_2')
        .logo-text ebpaint
      nav.header-nav
        ul
          li
            a(href='#') home
          li
            a(href='#') portfolio
          li
            a(href='#') about us
          li
            a(href='#') services
          li
            a(href='#') themes
          li
            a(href='#') contact

    .header-wrapper-mobile.mobile-nav
      .logo-wrapper
        .logo-icon
          img(src='img/logo.png', alt='img_2')
        .logo-text ebpaint
      .device
        .container-nav
          button#burger.open-main-nav
            span.burger
            span.burger-text Menu
          nav#main-nav.main-nav
            ul
              li
                a(href='#') home
              li
                a(href='#') portfolio
              li
                a(href='#') about us
              li
                a(href='#') services
              li
                a(href='#') themes
              li
                a(href='#') contact
