section.portfolio
  .container
    h1 our featured works
    p.description Curabitur bland it tempus porttitor. Maecenas faucibus mollis interdum
    nav.portfolio-nav
      ul
        li
          a(href='#') all
        li
          a(href='#') graphic
        li
          a(href='#') illustration
        li
          a(href='#') motion

    .portfolio-items
      div
        img(src='img/Layer 1.png', alt='img_2')
      div
        img(src='img/Layer 2.png', alt='img_2')
      div
        img(src='img/Layer 3.png', alt='img_2')
      div
        img(src='img/Layer 4.png', alt='img_2')

      div
        img(src='img/Layer 5.png', alt='img_2')
      div
        img(src='img/Layer 6.png', alt='img_2')
      div
        img(src='img/Layer 7.png', alt='img_2')
      div
        img(src='img/Layer 8.png', alt='img_2')

      div
        img(src='img/Layer 9.png', alt='img_2')
      div
        img(src='img/Layer 10.png', alt='img_2')
      div
        img(src='img/Layer 11.png', alt='img_2')
      div
        img(src='img/Layer 12.png', alt='img_2')