section.services
  .container

    .services-item
      .service-1
        .icon-wrap
          img(src='img/icons/android.png', alt='android-icon')
        .service-description
          h2.service-title Consectetur
          p Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum nulla sed consectetur dui.

      .service-2
          .icon-wrap
            img(src='img/icons/iMac.png', alt='android-icon')
          .service-description
            h2.service-title Tristiquet
            p Fusce dapibus, cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo risus.

      .service-3
          .icon-wrap
            img(src='img/icons/camera.png', alt='android-icon')
          .service-description
            h2.service-title Fermentum
            p Aenean eu leo quam. Pellentesque ornare sem lacinia uam venenatis vestibulum sagittis lacus mollis.

      .service-4
          .icon-wrap
            img(src='img/icons/watch.png', alt='android-icon')
          .service-description
            h2.service-title Elit Ultricies
            p Maecenas sed diam eget risus varius blandit sit amet non magna.
            Vivamus sagittis lacus vel augue laoreet
