section.slider
  .slider-items
    slider-item-1
      p
        span.light-font-style 
          | We are 
        span.black-font-style Webpaint
        br
        |  digital & branding agency based in Jupiter and we would love 
        br
        | to turn ideas into beautiful things.

    slider-item-2
      p
        span.light-font-style 
          | We are 
        span.black-font-style Webpaint
        br
        |  digital & branding agency based in Jupiter and we would love 
        br
        | to turn ideas into beautiful things.

  .btn-wrap
    .btn
      a(href="#") see portfolio