doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title Waxom
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="libs/slick-lib/slick/slick.css")
        link(rel="stylesheet", href="libs/slick-lib/slick/slick-theme.css")
        link(rel="stylesheet", href="libs/magnific-popup/magnific-popup.css")
        link(rel="stylesheet", href="css/media.css")
    body
        include _partials/header
        include _partials/features
        include _partials/works
        include _partials/video
        include _partials/mobile-devices
        include _partials/counters
        include _partials/posts
        include _partials/partners
        include _partials/footer

        script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript", src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript", src="libs/slick-lib/slick/slick.min.js")

        script(type='text/javascript').
          $('.header-slider').slick({
          dots: true,
          autoplay: true,
          });

        script.
          $('.posts-carousel__items').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          dots: false,
          arrows: false,
          autoplay: true,
          responsive: [
          {
          breakpoint: 1024,
          settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          }
          },
          {
          breakpoint: 767,
          settings: {
          slidesToShow: 2,
          slidesToScroll: 2
          }
          },
          {
          breakpoint: 575,
          settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          mobileFirst: true,
          }
          }
          ]
          });

        script.
          document.getElementById("toogler").onclick = function() {open()};
          function open() {
          document.getElementById("menu").classList.toggle("show");
          document.getElementById("logo").classList.toggle("block-hidden");
          document.getElementById("icons").classList.toggle("block-hidden");
          }

        script.
          document.getElementById("input-search").onfocus = function() {closeMenu()};
          function closeMenu() {
          document.getElementById("header-menu").classList.toggle("block-hidden");
          document.getElementById("cart").classList.toggle("block-hidden");
          }
        script.
          document.getElementById("input-search").onblur = function() {openMenu()};
          function openMenu() {
          document.getElementById("header-menu").classList.toggle("block-hidden");
          document.getElementById("cart").classList.toggle("block-hidden");
          }

        script.
          (function () {
          const portfolioItems = document.querySelectorAll('.portfolio-item')
          const workTypeButtons = document.querySelectorAll('.work-type')
          workTypeButtons.forEach(function (button) {
          button.addEventListener('click', function () {
          portfolioItems.forEach(function (item) {
          if(item.dataset.type === button.dataset.type || button.dataset.type === "all"){
          item.style.display = "block";
          }  else {
          item.style.display = "none"
          }
          })
          })
          })
          })();

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='libs/magnific-popup/jquery.magnific-popup.js')

        script.
          $("#inpage_scroll_btn").magnificPopup({
          items: {
          src: '//www.youtube.com/watch?v=NvbMJ2f0GqA',
          type: 'iframe'
          }});
