section.counters
  .container
    .counter-row
      .counter
        img(src='img/icons/clients.svg', alt='icon-client')
        p.counter__number 3587
        h3.counter__title satisfied clients

      .counter
        img(src='img/icons/cups.svg', alt='icon-client')
        p.counter__number 207
        h3.counter__title cups of coffee

      .counter
        img(src='img/icons/posts.svg', alt='icon-client')
        p.counter__number 2500
        h3.counter__title blog posts

      .counter
        img(src='img/icons/likes.svg', alt='icon-client')
        p.counter__number 873
        h3.counter__title likes

      .counter
        img(src='img/icons/lanch.svg', alt='icon-client')
        p.counter__number 900
        h3.counter__title we lanched