section.features
  .container
    .features-row
      .feature
        img.feature__icon(src='../img/icons/pencil.svg', alt='icon')
        h2.feature__title web & app design
        p.feature__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.

      .feature
        img(src='../img/icons/development.svg', alt='icon')
        h2.feature__title development
        p.feature__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.

      .feature
        img(src='../img/icons/custom.svg', alt='icon')
        h2.feature__title custiomization
        p.feature__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.

      .feature
        img(src='../img/icons/market.svg', alt='icon')
        h2.feature__title marketing
        p.feature__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.

    .feature-row.feature-two
      .title
        h2.feature-two__title Waxom is Realization of your Ideas.
        p.feature-two__description Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
      .feature__realization
        .feature__realization-item.feature__realization-item--left
        .feature__realization-item.feature__realization-item--center
        .feature__realization-item.feature__realization-item--right

  .purchase-box
    .purchase-txt
      h2.purchase-txt__title
        span.accent-color waxom
        |  multipurpose wordPress theme
      p.purchase-txt__subtitle
        span  don't forget to rate template.
        |  Thanks so much
    button.btn.purchase__btn purchase now

    