footer.footer
  .container
    .footer-row
      .footer__block.about__waxom
        .logo.footer__logo
          .logo__icon
            img(src='img/logos.svg', alt='logo')
          .logo__text Waxom 

        p.about__waxom-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
        p.read-more
          a(href='#') read more
            img.posts-item__read-more--icon(src='../img/icons/arrow-read-more.svg', alt='icon-read-more')

      .footer__block.posts
        h4.footer-posts__title resent posts
        .post
          .post__date September 08.2015
          .post__name Lorem ipsum dolor sit amet, consectetuer adipiscing elit

        .post
          .post__date September 08.2015
          .post__name Lorem ipsum dolor sit amet, consectetuer adipiscing elit

        .post
          .post__date September 08.2015
          .post__name Lorem ipsum dolor sit amet, consectetuer adipiscing elit

      .footer__block.twitt
        h4.twitter__title our twitter
        .post
          .post__name Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          .post__date September 08.2015

        .post
          .post__name Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          .post__date September 08.2015

        .post
          .post__name Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          .post__date September 08.2015

      .footer__block.widget
        h2.widget__title dribble widget
        .widget-row
          .widget-row__item
            img(src='../img/widgets/photo-widget-1.jpg', alt='widget')
          .widget-row__item
            img(src='../img/widgets/photo-widget-2.jpg', alt='widget')
        .widget-row
          .widget-row__item
            img(src='../img/widgets/photo-widget-3.jpg', alt='widget')
          .widget-row__item
            img(src='../img/widgets/photo-widget-4.jpg', alt='widget')

  .copyright
    .copyright__left-block
      div Copyright ©2015 Waxom.
      div Pivacy Policy
      div FAQ
      div Support

    .copyright__right-block
      div Designed by ThemeFire
      div Only on Envato Market
        