header.header
  .container
    .top-pannel.desktop-nav
      .block-left
        .logo
          .logo__icon
            img(src='img/logos.svg', alt='logo')
          .logo__text Waxom
      .block-right
        nav.header-menu
          ul.header-menu__item
            li
              a(href='#') home
            li
              a(href='#') about us
            li
              a(href='#') portfolio
            li
              a(href='#') features
            li
              a(href='#') blog
            li
              a(href='#') pricing
            li
              a(href='#') shortcodes
            li
              a(href='#') contact

        .header-icons
          .cart.cart__icon
            img.cart__icon(src='img/icons/icon-cart.svg', alt='icon-search')
          form.search
            input.input__search(type='text', placeholder='Искать здесь...')
            |   
            button.btn__search(type='submit')

    .mobile-nav.mobile-menu
      .mobile__block-left
        nav
          .burger-icon#toogler
            svg#svg8(xmlns='http://www.w3.org/2000/svg', xmlns:cc='http://creativecommons.org/ns#', xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', height='48', version='1.1', viewBox='0 0 12.7 12.7', width='48')
              g#layer1(transform='translate(0,-284.29998)')
                path#rect4487(d='m 2.8222223,287.1222 v 1.41111 h 7.0555558 v -1.41111 z m 0,2.82222 v 1.41112 h 7.0555558 v -1.41112 z m 0,2.82223 v 1.41111 h 7.0555558 v -1.41111 z', style='opacity:1;vector-effect:none;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.07055555;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1')
      
          ul#menu.menu
            li
              a(href='#') home
            li
              a(href='#') portfolio
            li
              a(href='#') about us
            li
              a(href='#') services
            li
              a(href='#') themes
            li
              a(href='#') contact

      .mobile__block-center
        .logo
          .logo__icon
            img(src='img/logos.svg', alt='logo')
          .logo__text Waxom

      .mobile__block-right
        .header-icons
          .cart.cart__icon
            img.cart__icon(src='img/icons/icon-cart.svg', alt='icon-search')
          form.search
            input.input__search(type='text', placeholder='Искать здесь...')
            |   
            button.btn__search(type='submit')

  .container
    .header-slider
      .slider-item
        .header__slogan
          h2.slider__title-small unique and modern design
          h1.slider__title-big portfolio
            | 
            span psd
            |  template
          p.slider__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          button.btn.header-slider__btn get started

      .slider-item
        .header__slogan
          h2.slider__title-small unique and modern design
          h1.slider__title-big
            | portfolio 
            span psd
            |  template
          p.slider__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          button.btn.header-slider__btn get started

      .slider-item
        .header__slogan
          h2.slider__title-small unique and modern design
          h1.slider__title-big
            | portfolio 
            span psd
            |  template
          p.slider__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          button.btn.header-slider__btn get started

      .slider-item
        .header__slogan
          h2.slider__title-small unique and modern design
          h1.slider__title-big
            | portfolio 
            span psd
            |  template
          p.slider__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          button.btn.header-slider__btn get started




    