section
  .container
    .mobile-devices
      .mobile-device
        img.mobile-device__img(src='../img/iPhone.png', alt='iPhone')
      .mobile-features
        h2.mobile-features__title Waxom is Realization of your Ideas.
        p.mobile-features__description Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
        .mobile__feature
          img.mobile__feature--img(src='../img/icons/arrow.svg', alt='icon-search')
          p Nam liber tempor cum soluta nobis eleifend option;

        .mobile__feature
          img.mobile__feature--img(src='../img/icons/arrow.svg', alt='icon-search')
          p Option congue nihil imperdiet doming id quod mazim placerat facer;

        .mobile__feature
          img.mobile__feature--img(src='../img/icons/arrow.svg', alt='icon-search')
          p Eodem modo typi, qui nunc nobis videntur parum futurum;

        .mobile__feature
          img.mobile__feature--img(src='../img/icons/arrow.svg', alt='icon-search')
          p Investigationes demonstraverunt lectores
