section.partners
  .partners-row
    .partner
      img.partner__img(src='../img/partners/logo-barber.png', alt='logo-patrners')

    .partner
      img.partner__img(src='../img/partners/logo-delicious.png', alt='logo-patrners')

    .partner
      img.partner__img(src='../img/partners/logo-designers.png', alt='logo-patrners')

    .partner
      img.partner__img(src='../img/partners/logo-royal.png', alt='logo-patrners')