section.posts
  .title
    h2.posts__title recent posts
    p.posts__description Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
  .container
     .posts-items
        .posts-carousel__items.posts-items__row

          .posts-item
            img.posts-item__image(src='img/posts/photo-posts-3.jpg', alt='')
            .posts-item__content
                .posts__day.posts__day--dark 30
                .posts__month.posts__month--dark Sep.
            .posts-item__overlay
              .posts-item__content
                .posts__day 30
                .posts__month Sep.

            .posts-item__figcaption
              .posts-item__title Lorem ipsum dolor sit amet
              .posts-item__cats
                |  Clartits est etlam processus dynamicus.
                br
                |  quisequitur  mutationem consuetudium

              a(href='#')
                div.posts-item__block--read
                  p.posts-item__read read more
                  img.posts-item__read--icon(src='img/icons/arrow-read-more.svg', alt='icon-read-more')

          .posts-item
            img.posts-item__image(src='img/posts/photo-posts-2.jpg', alt='')
            .posts-item__content
                .posts__day.posts__day--dark 30
                .posts__month.posts__month--dark Sep.
            .posts-item__overlay
              .posts-item__content
                .posts__day 30
                .posts__month Sep.

            .posts-item__figcaption
              .posts-item__title Lorem ipsum dolor sit amet
              .posts-item__cats
                |  Clartits est etlam processus dynamicus.
                br
                |  quisequitur  mutationem consuetudium

              a(href='#')
                div.posts-item__block--read
                  p.posts-item__read read more
                  img.posts-item__read--icon(src='img/icons/arrow-read-more.svg', alt='icon-read-more')

          .posts-item
            img.posts-item__image(src='img/posts/photo-posts-3.jpg', alt='')
            .posts-item__content
                .posts__day.posts__day--dark 30
                .posts__month.posts__month--dark Sep.
            .posts-item__overlay
              .posts-item__content
                .posts__day 30
                .posts__month Sep.

            .posts-item__figcaption
              .posts-item__title Lorem ipsum dolor sit amet
              .posts-item__cats
                |  Clartits est etlam processus dynamicus.
                br
                |  quisequitur  mutationem consuetudium

              a(href='#')
                div.posts-item__block--read
                  p.posts-item__read read more
                  img.posts-item__read--icon(src='img/icons/arrow-read-more.svg', alt='icon-read-more')

          .posts-item
            img.posts-item__image(src='img/posts/photo-posts-3.jpg', alt='')
            .posts-item__content
                .posts__day.posts__day--dark 30
                .posts__month.posts__month--dark Sep.
            .posts-item__overlay
              .posts-item__content
                .posts__day 30
                .posts__month Sep.

            .posts-item__figcaption
              .posts-item__title Lorem ipsum dolor sit amet
              .posts-item__cats
                |  Clartits est etlam processus dynamicus.
                br
                |  quisequitur  mutationem consuetudium

              a(href='#')
                div.posts-item__block--read
                  p.posts-item__read read more
                  img.posts-item__read--icon(src='img/icons/arrow-read-more.svg', alt='icon-read-more')

          .posts-item
            img.posts-item__image(src='img/posts/photo-posts-2.jpg', alt='')
            .posts-item__content
                .posts__day.posts__day--dark 30
                .posts__month.posts__month--dark Sep.
            .posts-item__overlay
              .posts-item__content
                .posts__day 30
                .posts__month Sep.

            .posts-item__figcaption
              .posts-item__title Lorem ipsum dolor sit amet
              .posts-item__cats
                |  Clartits est etlam processus dynamicus.
                br
                |  quisequitur  mutationem consuetudium

              a(href='#')
                div.posts-item__block--read
                  p.posts-item__read read more
                  img.posts-item__read--icon(src='img/icons/arrow-read-more.svg', alt='icon-read-more')

          .posts-item
            img.posts-item__image(src='img/posts/photo-posts-3.jpg', alt='')
            .posts-item__content
                .posts__day.posts__day--dark 30
                .posts__month.posts__month--dark Sep.
            .posts-item__overlay
              .posts-item__content
                .posts__day 30
                .posts__month Sep.

            .posts-item__figcaption
              .posts-item__title Lorem ipsum dolor sit amet
              .posts-item__cats
                |  Clartits est etlam processus dynamicus.
                br
                |  quisequitur  mutationem consuetudium

              a(href='#')
                div.posts-item__block--read
                  p.posts-item__read read more
                  img.posts-item__read--icon(src='img/icons/arrow-read-more.svg', alt='icon-read-more')          