section.video-presentation
  .video
    .circle
      img#inpage_scroll_btn.video__btn-play(src='../img/icons/icon-play.svg', alt='icon-search')
    h2.video__title waxom video presentation
    p.video__desctription Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
