section.portfolio-section
  .title
        h2.portfolio__title our latest projects
        p.portfolio__description Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
  .work-types
    button.work-type.work-type_active(data-type='all') All          
    button.work-type(data-type='web') Web Design            
    button.work-type(data-type='mobile') Mobile App            
    button.work-type(data-type='illustration') illustration
    button.work-type(data-type='photography') photography
  |         
  .portfolio-items
    .portfolio-items__row

      .portfolio-item(data-type='mobile')
        img.portfolio-item__image(src='img/works/photo-1.jpg', alt='')

        .portfolio-item__overlay
          .portfolio-item__content
            .portfolio-item__icon
              img.link(src='../img/icons/link.svg', alt='link')
              img.lupa(src='../img/icons/lupa.svg', alt='lupa')

        .portfolio-item__figcaption
          .portfolio-item__title claritas etiam processus
          .portfolio-item__cats Photography, Nature

      .portfolio-item(data-type='web')
        img.portfolio-item__image(src='img/works/photo-2.jpg', alt='')

        .portfolio-item__overlay
          .portfolio-item__content
            .portfolio-item__icon
              img.link(src='../img/icons/link.svg', alt='link')
              img.lupa(src='../img/icons/lupa.svg', alt='lupa')

        .portfolio-item__figcaption
          .portfolio-item__title claritas etiam processus
          .portfolio-item__cats Photography, Nature

      .portfolio-item(data-type='photography')
        img.portfolio-item__image(src='img/works/photo-3.jpg', alt='')

        .portfolio-item__overlay
          .portfolio-item__content
            .portfolio-item__icon
              img.link(src='../img/icons/link.svg', alt='link')
              img.lupa(src='../img/icons/lupa.svg', alt='lupa')

        .portfolio-item__figcaption
          .portfolio-item__title claritas etiam processus
          .portfolio-item__cats Photography, Nature

      .portfolio-item(data-type='illustration')
        img.portfolio-item__image(src='img/works/photo-4.jpg', alt='')

        .portfolio-item__overlay
          .portfolio-item__content
            .portfolio-item__icon
              img.link(src='../img/icons/link.svg', alt='link')
              img.lupa(src='../img/icons/lupa.svg', alt='lupa')

        .portfolio-item__figcaption
          .portfolio-item__title claritas etiam processus
          .portfolio-item__cats Photography, Nature

      .portfolio-item(data-type='photography')
        img.portfolio-item__image(src='img/works/photo-5.jpg', alt='')

        .portfolio-item__overlay
          .portfolio-item__content
            .portfolio-item__icon
              img.link(src='../img/icons/link.svg', alt='link')
              img.lupa(src='../img/icons/lupa.svg', alt='lupa')

        .portfolio-item__figcaption
          .portfolio-item__title claritas etiam processus
          .portfolio-item__cats Photography, Nature

      .portfolio-item(data-type='photography')
        img.portfolio-item__image(src='img/works/photo-6.jpg', alt='')

        .portfolio-item__overlay
          .portfolio-item__content
            .portfolio-item__icon
              img.link(src='../img/icons/link.svg', alt='link')
              img.lupa(src='../img/icons/lupa.svg', alt='lupa')

        .portfolio-item__figcaption
          .portfolio-item__title claritas etiam processus
          .portfolio-item__cats Photography, Nature

  .portfolio-btn-wrap
    button.btn.portfolio__btn load more
            

        
      