.about {

    @include section_common_styles;

    margin-bottom: 240px;
}

.about_block_left,
.about_block_right {
    width: 50%;
}

.about_block_left {
    margin-right: 80px;
}

.about_block_right {
    width: 100%;
    margin-left: 50px;
}

.about_text {
    max-width: 430px;
    margin: 65px 0 65px;
}

.about_note {

    @include note;
}
