.about_us {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    h2 {
        @include h2Style;
    }
}

.block_left, .block_right {
    width: 40%;
}

.about_us_text {
    // @include note;
  }

.about_us_question {
  @include note;
}

.container_about_us {
    @include container;
}

