.about_us {
    @include section_common_styles;
}

.block_left, .block_right {
    width: 40%;
}
.block_left {
    margin-right: 60px;
}

.about_us_text {
    margin-top: 50px;
    line-height: 2;
}

.about_us_note {

}

