.apply {

    @include section_common_styles;

    margin-bottom: 270px;

    &_block_left {
        margin-right: 120px;
        width: 60%;
    }

    // &_block_left,
    &_block_right {
        width: 40%;
    }

    &_img {
        max-width: 550px;
        // width: 100%;
    }
}
