.apply {

    @include section_common_styles;

    margin-bottom: 150px;

    &_block_left {
        width: 60%;
        margin-top: -70px;
        margin-left: -100px;
    }

    &_block_right {
        width: 40%;
    }
}
