.apply {

    @include section_common_styles;
    margin-bottom: 200px;

    &_container {
        justify-content: space-between;
    }

    &_block_left,
    &_block_right {
        width: 40%;
        margin-left: 0;
    }
}

.apply_container {
    justify-content: space-between;
}