.carousel {
    @include section_common_styles;
}

.reviews_block {
    @include reviews;
}

figure {
    display: inline-block;

   }

figure.right figcaption {
    float: right;
    padding: 20px; /* Поля вокруг текста */
}

.intro_text {
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
}