.carousel {
    @include section_common_styles;
}

.reviews_block {
    @include reviews;
}

figure {
    display: inline-block;
    margin: 0 1em 0 0;
   }

figure.right figcaption {
    float: right;
    padding: 20px; /* Поля вокруг текста */
}

p {
    font-family: 'DM Serif Display', serif;
    font-style: regular;
    font-size: 48px;
}