
.carousel {
    @include section_common_styles;
    justify-content: start;
}

.container_carousel {
    width: 90%;
    
}

.carousel_block_right {
    display: flex;
}

.reviews_block {
    @include reviews;
    margin-right: 20px;
    max-width: 420px;
    min-width: 350px;
}

.reviews_figure {
    display: inline-block;
    margin: 30px 1em 0 0;
   }

.reviews_figure.right .reviews_figcaption.right {
    float: right;
    padding: 20px;
}

.reviews_text {
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
}