.carousel {
    @include section_common_styles;
}

.reviews_block {
    @include reviews;
}

figure {
    display: inline-block;
    margin: 0 1em 0 0;
   }

figure.right figcaption {
    float: right;
    padding: 20px;
}

.intro_text {
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
}