.faq {
    @include section_common_styles;
    background-color: #FDEDE8
}

.container_faq {
    font-display: column;
}
.question {
    @include question_styles;
}

.fa-plus {
    color: $accent;
}

.btn_load_more {
    @include question_styles;
    justify-content: center;
    background-color: pink;
    text-transform: uppercase;
    color: $accent;
}