.faq {
    @include section_common_styles;
}

.container_faq {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.faq:before {
    content:"";
    position: absolute;
    display: block;
    right: 0;
    width: 70%;
    height: 200px;
    // background-color: rgb(253, 237, 232);
    background-size: cover;
    background-color:red;
    border-radius:50% 0 0 0;
    z-index: -1;
}

.question {
    @include question_styles;
}

.fa-plus {
    color: $accent;
    background-color: #fff;
}

.btn_load_more {
    @include question_styles;
    justify-content: center;
    background-color: pink;
    text-transform: uppercase;
    color: $accent;
}

.block_first, .block_second {
    display: flex;
    justify-content: center;
}

.faq_text {
    font-size: 48px;
}