.faq {
    @include section_common_styles;
    height: 700px;
    background-color: pink;
}

.question {
    @include question_styles;
    display: flex;
    align-items: center;
}

.fqa_icon {
    margin-left: 20px;
}