/**Velocity for Logo**/
@font-face {
	font-family: 'Velocity';
	src: local('☺'), url('../fonts/logo_font/Velocity.woff') format('woff'), url('../fonts/logo_font/Velocity.ttf') format('truetype'), url('../fonts/logo_font/Velocity.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Montserrat Bold **/
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/ttf/Montserrat-Bold.ttf") format("ttf"),
	url("../fonts/webfonts/Montserrat-Bold.woff2") format("woff2"),
	url("../fonts/webfonts/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/ttf/Montserrat-Regular.ttf") format("ttf"),
	url("../fonts/webfonts/Montserrat-Regular.woff2") format("woff2"),
	url("../fonts/webfonts/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/ttf/Montserrat-Light.ttf") format("ttf"),
	url("../fonts/webfonts/Montserrat-Light.woff2") format("woff2"),
	url("../fonts/webfonts/Montserrat-Light.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/ttf/Montserrat-Medium.ttf") format("ttf"),
	url("../fonts/webfonts/Montserrat-Medium.woff2") format("woff2"),
	url("../fonts/webfonts/Montserrat-Medium.woff") format("woff");
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body{
	font-size: 100%;

}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/* border:1px solid red; */
}


h2{
	font-family: "Montserrat";
	font-weight: 300;
	font-style: normal;
	font-size: 42px;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 40px;	
	-webkit-appearance: none;
}

hr{
	text-align: center;
	width: 50px;
	height: 2px;
	background-color: #10ac84;
	margin: 0 auto 65px;/*120px*/
}


img,.logo,.btn{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Logo */
.logo{
	font-family:'Velocity',Sans-Serif;
	font-size: 48px;
	color: #10ac84;
	text-align: center;
	letter-spacing: 2px;
	margin: 30px 0 70px;
}

/* Hero */
.hero_title{
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.hero_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-bottom: 150px; */
	padding-bottom: 70px;

}

.hero_left{
	flex-basis: 54%;
	/* border:1px solid green; */
	
}

.hero_right{
	flex-basis: 40%;
	/* border:1px solid darkViolet; */
}

.hero_description{
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	margin-bottom: 50px;
}

.hero_buttons{
	display: flex;
}
.btn{
	/* display: inline-block; */
	width: 230px;
	height: 50px;
	margin-right: 20px;
	border-radius:5px;
	background-color: rgb(16,172,132);
	color: #fff;
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	-webkit-appearance: none;
	outline: none;
	cursor:pointer;
}

a{
	text-decoration: none;
	display: block;
	padding-top: 17px;
}

.btn:hover{
	background-color: rgba(16,172,132,0.8);
}

.watch_video{
	background-color: rgb(106,112,121);
}

.watch_video:hover{
	background-color: rgba(106,112,121,0.8);
}

/* Problems */
.problems{
	background-color: #f4f4f5;
}

.problems_wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 70px;
}

.problem{
	width: 45%;
	margin-bottom: 40px;	
}

.problems_icon{
	width: 50px;
	height: 50px;
}

h3{
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	padding: 35px 0 20px;
}

.problem_description{
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #a9abaf;
}


/*Features*/
h4{
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	margin-bottom: 20px;
}

.paragraph{
	max-width: 1020px;
	margin: 0 auto;
	text-align: center;
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	padding-bottom: 50px;
}

.features_wrapper{
	display: flex;
	/* justify-content: center; */
	align-items: center;
	padding-bottom: 70px;
}

.features_left, .features_right,
.features_wrapper_img{
	width:35%;
}

.feature_description{
	font-family: "Montserrat";
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
}

.feature{
	display: flex;
	margin: 80px 0;
}
.icon_2{
	margin-right: 25px;
}
.features_icon{
	width: 30px;
	height: 30px;
}

.feature_app{
	width: 85%;
	display: block;
	margin: auto;
}

/* Interface */
.interface{
	background-color: #f4f4f5;
	text-align: center;
	padding-bottom: 20px;
}
.interface_wrapper{
	width: 95%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-bottom: 30px;
	/*background-image: url(../img/screenshots/iphone_screen_6.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	 */
}

.wrapper_img{
	/* box-shadow: 10px 10px 16px 0px rgba(92,95,101,.10); */
	margin: 7px;
}

img.screen{
	max-width: 100%;
	box-shadow: 10px 10px 12px 0px rgba(92,95,101,.10);
	 /*box-shadow: 5px 10px 20px 2px rgba(61,61,62,.15);
	 box-shadow:15px 5px 12px 66px rgba(92,95,101,.28); */
} 

/* .owl-carousel.owl-drag .owl-item{
	margin-top: 80px;
}
*/

.form_input{
	width: 45%;	
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}
input,textarea{
	border-bottom:1px solid grey;
	padding: 20px 0;
	outline:none;
	resize: none;
}

.input_submit{
	margin: 30px auto;
	border: none;
}

.socials{
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin:20px auto 30px;
}

.fab{
	color: #bdbec0;
}

.fab:hover{
	color: #000;
} 

.hr_footer{
	width: 90%;
	height: 1px;
	background-color: grey;/* #f4f4f5; */
	margin:50px auto 0px;
}
