.footer_feedback_block {

}

.footer_social_block {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}

.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: $accent;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
}