.footer {
    position: relative;
}

.footer_feedback_block {
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_note {
    @include note;
}

// FORM
.footer_form_wrap {
    padding: 70px;
    background-color: #fff;
    border-radius: 10px;
}

.form-example {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.footer_input {
    border-radius: 10px;
}

.footer_btn {
    @include btn;
}

.footer_social_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    font-family: 'Rubik', serif;
    font-weight: 300;
    font-size: 16px;
}

.social_icons {
    display: flex;
}

.social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $accent;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
