@import "../mixins/media";

@import "../mixins/reusableStyles";

header {

    @include section_common_styles;

    position: relative;
    margin-bottom: 120px;
}

// .header_nav {
//     top: 45px;
//     &_ul {
//         font-size: 16px;
//         line-height: 19px;
//         letter-spacing: 0.05em;
//     }
// }

.header_nav {
    width: 80%;
    position: absolute;
    top: 45px;
    display: flex;
    justify-content: space-around;
    font-family: "Rubik", serif;
    font-weight: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;

    &_menu {
        width: 100%;;
    }

    .nav_item {
        display: inline-block;
        margin-left: 40px;

        &:hover {
            transform: scale(1.1);
        }

        a {
            color: #ffffff;
            text-transform: uppercase;

            &:hover {
                color: $accent;
            }
        }
    }
}

.header_btn {

    @include btn;

    width: 160px;
}

.header_intro {
    position: absolute;
    top: 16%;
    width: 70%;
    color: #ffffff;

    .intro_text {
        max-width: 730px;
        font-size: 100px;
        line-height: 100px;
        letter-spacing: 5px;

        @include media-tablet-laptop {
            width: 450px;
            font-size: 50px;
        }
    }

    .intro_btn {
        margin-top: 60px;
        width: 220px;
        height: 60px;

        @include btn;
    }

    .intro_btn_icon {
        color: #ffffff;
        font-size: 35px;
        padding-left: 25px;
    }
}
