@import "../mixins/media";

header {
    background-color: pink;
    position: relative;

    // @include media-tablet {
    //     width: 500px;
    // }
}

.header_nav {
    width: 80%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    .header_btn {
        background-color: EE4D47;
        color: #000;
        width: 220px;
        // padding: 0 25px 0;
        text-align: center;
        border-radius: 5px;
        a {
            color: #fff;
            text-transform: uppercase;
        }
    }
    .nav_item {
        display: inline-block;
        margin-left: 70px;
        a {
            color: #fff;
            text-transform: uppercase;
        }
    }
    
}
