@import "../mixins/media";
@import "../mixins/reusableStyles";


header {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: pink;
    // @include media-tablet {
    //     width: 500px;
    // }
}

.header_nav {
    width: 80%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-around;

    .nav_item {
        display: inline-block;
        margin-left: 70px;
        a {
            color: #fff;
            text-transform: uppercase;
        }
    }

    .header_btn {
        @include btn;
    }
}

.header_intro {
    position: absolute;
    top: 20%;
    width: 70%;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    .intro_text {
        max-width: 750px;
        font-size: 65px;
    }
    .intro_btn {
        margin-top: 50px;
        padding: 20px;
        @include btn;
    }
    .intro_btn_icon {
        font-size: 55px;
    }
}
