@import "../mixins/media";

@import "../mixins/reusableStyles";

header {
    display: flex;
    justify-content: center;
    position: relative;
}

.header_nav {
    top: 50px;
}

.header_btn {

    @include btn;

    @include media-tablet-laptop {
        width: 160px;
    }
}

.header_intro {
    position: absolute;
    top: 18%;
    width: 70%;
    font-size: 25px;
    color: #ffffff;

    .intro_text {
        max-width: 730px;
        font-size: 70px;
        // font-size: 100px;
        // font-style: normal;
        // font-weight: 400;
        // line-height: 100px;

        @include media-tablet-laptop {
            width: 450px;
            font-size: 50px;
        }
    }

    .intro_btn {
        margin-top: 50px;
        padding: 20px;

        @include btn;
    }

    .intro_btn_icon {
        color: #ffffff;
        font-size: 20px;
        padding-left: 25px;
    }
}
