doctype html
html(lang='en')
    head
      meta(charset="UTF-8")
      title Tinyone
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
      link(rel="stylesheet", href="css/main.css")
      link(rel="stylesheet", href="css/media.css")
    body
      include _partials/header
      include _partials/feature
      include _partials/pricing
      include _partials/portfolio
      include _partials/team
      include _partials/stats
      include _partials/feedback
      include _partials/footer


      script.
        document.getElementById("trigger").onclick = function() {open()};
        function open() {
        document.getElementById("menu").classList.toggle("show");
        }
