@import "_base";
@import "_mixins";
@import "_variables";

/************************** HEADER STYLES **************************/
header {
  background-color: $color-bg-header;
  padding-bottom: 55px;
  color: #000;
}

.header__title {
  font-size: 48px;
}

.header__description {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.top-line {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

/*  menu */
.burger-icon {
  cursor: pointer;
}

.menu {
  display: none;
  cursor: pointer;
  a {
    text-transform: uppercase;
    color: #fff;
    line-height: 2;
    font-family: 'source_sans_probold', sans-serif;
  }
}

.show {
  display: block;
}

/* logo */
.logo {
  display: flex;
  user-select: none;
}

.logo__icon{
  padding-right: 10px;

  img {
    width: 40px;
  }
}

.logo__text {
  font-size: 30px;
}

/* social icons */

.social-icon {
  padding-right: 20px;
  cursor: pointer;
}

/* section cover styles */

.header-section {
  text-align: center;
  padding-top: 250px;

  .scroll-icon__down {
    font-size: 30px;
  }
}

.btn {
  @include common-styles-btn;
  padding: 20px 70px;
  margin: 45px 0 180px;
  font-size: 22px;
}

/************************** FEATURES STYLES **************************/
.features-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0 auto;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 280px;
  margin: 0 auto;
  padding-bottom: 65px;

  .feature__title {
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
    &.title-uppercase {
      text-transform: uppercase;
    }
  }

  .fas, .far {
    margin-right: 25px;
    font-size: 50px;
  }
}


/************************** PRICING STYLES **************************/
.pricing-section{
  padding-bottom: 35px;
}

.tarrifs {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.tarrif {
  flex-basis: 270px;
  text-align: center;
  padding-bottom: 30px;
  cursor: pointer;
}

.tarrif__icon {
  @include circle;
  background-color: #ebebeb;
  font-size: 48px;
  margin: 0 auto;
}

.tarrif__title {
  font-size: 24px;
  padding: 30px 0;
}
  
.tarrif__price {
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 40px;

  &::after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) translateY(-50%);
    content: "";
    width: 30px;
    height: 2px;  
    background-color: #000;
  }
}

.tarrif__term {
  padding-top: 10px;
}
.tarrif__button {
  @include common-styles-btn;
  padding: 15px 35px;
  margin-top: 40px;
}

.tarrif__button:hover {
  transform:scale(1.1);
}

/************************** PORTFOLIO STYLES **************************/
.portfolio-section {
  padding-bottom: 10px;
  font-size: 16px;
}

.portfolio-item__title {
  font-family: 'source_sans_probold', sans-serif;
  font-size: 22px;
  text-transform: capitalize;
}

.portfolio-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 65px;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio-item__info {
  position: relative;
  .portfolio-item__views,.today__date  {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
  }
  
  .portfolio-item__views {
    right: 160px;
    .far {
      padding-right: 5px;
    }
  }

  .today__date {
    left: 130px;
    .far {
      padding-left: 5px;
    }
  }

  .far, span {
    color: #fff;
  }
}

.portfolio-item__overlay {
  position: absolute;
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  background-color: rgba(34,34,34,.9);
  opacity: 0;
  transition: opacity .3s;
}

.portfolio-item__info:hover .portfolio-item__overlay {
  opacity: 1;
  cursor: pointer;
}

.resize-img-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;

  i {
    font-size: 30px;
    color: #fff;
  }
}

/************************** TEAM STYLES **************************/
.team-section {
  padding-bottom: 50px;
  .teams {
    @extend .tarrifs;
    .team {
      @extend .tarrif;
      @include figure-styles;

      .circle {
        @include circle;
      }

      .team__social__icons {
        padding-top: 15px;
      }

      .team__social__icon {
        padding-right: 15px;
      }
    }
  }
}


/************************** STATS STYLES **************************/
.stats-section {
  padding-bottom: 80px;
}

.stats-items {
  @extend .tarrifs;
  padding-bottom: 80px;
  .stats-item {
    @extend .tarrif;
    text-align: center;
    font-size: 14px;
    .fas {
      font-size: 48px;
      padding-bottom: 25px;
    }
    span {
      font-family: 'source_sans_probold', sans-serif;
      font-size: 24px;
      color: #000;
    }
  }
}


.client-wrap {
  @include figure-styles;
  .circle {
    @include circle;
  }

  .client-feedback {
    max-width: 625px;
    text-align: center;
    /* i {
      color: #898989;
    }
    .fa-quote-left {
      margin-right: 50px;
    }
    .fa-quote-right {
      margin-left: 100px;
    } */
  }
}

.stats-blockquote {
  padding-top: 30px;

  p {
    font-size: 20px;
    line-height: 1.25;
  }

  span {
    position: relative;
  }

  span:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    font-size: 60px;
    left: -50px;
    top: 10px;
    line-height: 0;
  }

  span:after {
    content: "\201D";
    font-family: serif;
    position: absolute;
    font-size: 60px;
    right: -50px;
    bottom: -10px;
    line-height: 0;
  }
}


/************************** FEEDBACK STYLES **************************/
.feedback {
  @extend .tarrifs;
  justify-content: space-between;
  margin-bottom: 45px;
  .feedback-item {
    max-width: 185px;
    text-align: center;

    a {
      color: #000;
      font-size: 16px;
    }
    .fas {
      font-size: 22px;
      padding-bottom: 25px;
    }
    span {
      font-size: 24px;
      font-weight: 600;
      color: #000;
    }
  }
}

/* feedback form styles */
  .feedback-form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .form-input,
  .form-textarea {
    border:2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
  }

  .form-submit-wrap {
    text-align: center;
  }

  .form-submit {
    @include common-styles-btn;
    width: 180px;
    background-color: #000;
    color: #fff;
    margin-bottom: 70px;
  }

/************************** FOOTER STYLES **************************/
.footer {
  display: flex;
  justify-content: center;
  background-color: $color-bg-footer;
  font-size: 16px;
  h2 {
    color: #fff;
  }

  .item-link ul li {
    line-height: 1.7;
  }
  
  .footer-subscribe-form {
    text-align: center;
    padding-bottom: 100px;
  }


  .footer-form-input {
    width: 60%;
    min-width: 350px;
  }

  .footer-form-submit {
    @include common-styles-btn;
    background-color: #fff;
    padding: 19px 40px;
  }
}

.footer-info-links {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 250px;
  a {
    color: #fff;
  }
}

/* .container {
  border:1px solid red;
} */

