@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

/* ==============================   1920  ================================= */
@media (max-width: 1920px) {
   /* body{
      background-color: black;
      } */
}

/* ==============================   1520   ================================= */
@media (max-width: 1520px) {
  body{
     background-color: blue;
  }

}


/* ==============================   1366 ================================= */
@media (max-width: 1366px) {
  body{
    background-color: pink;
  }
}

/* ==============================   1200 ================================= */
@media (max-width: 1199.98px) {
  body{
    background-color: yellow;
  }

}

/* ==============================   992 ================================= */
@media (max-width: 991.98px) {
  body{
    background-color: grey;
  }

  /* HEADER STYLES */
  .cover-section {
    padding-top: 150px;
  }

  .btn {
    margin-bottom: 120px;
  }
  
  /* FEATURES STYLES */
  .features-items-row {
    flex-wrap: wrap;
  }

  .feature-item {
    padding-bottom: 60px;
  }

  /* PRICING STYLES */
  .price-items-wrap {
    flex-wrap: wrap;
  }

  .price-item {
    flex-basis: 100%;
    margin-bottom: 60px;
  }

  /* PORTFOLIO STYLES */
  .portfolio-items-row {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  
  /* TEAM STYLES */
  .team-items-wrap {
    flex-wrap: wrap;
  }

  /* STATS STYLES */
  .stats-items-wrap {
    padding-bottom: 30px;
  }

  /* FOOTER STYLES */
  .footer-info-links {
    padding-bottom: 120px;
  }

}

/* ==============================   767 ================================= */
@media (max-width: 767.98px) {
  body{
    background-color: green;
  }

  .social-icon-wrap {
    display: none;
  }
    
  /* FEATURE STYLES */
  .feature-item {
    flex-basis: 100%;
  }

  /* PORTFOLIO STYLES */
  .portfolio-items-row,
  .team-section .team-items-wrap {
    justify-content: center;
  }
  .portfolio-items-row {
    padding-bottom: 0;
  }

  .portfolio-item {
    padding-bottom: 30px;
  }
}

/* ==============================   576 ================================= */
  @media (max-width: 575.98px) {
    body{
      background-color: violet;
    }

    /*COMMON STYLES*/
    .title {
      padding-top: 10px;
    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
    }


    HEADER STYLES
    h1 {
      font-size: 35px;
    }

    .top-line {
      width: 100%;
      padding-top: 25px;
    }

    .cover-section {
      padding-top: 80px;
      padding-bottom: 0px;
    }

    .btn {
      padding: 15px 35px;
      margin-top: 30px;
      margin-bottom: 70px;
    }

    /* FEATURE STYLES */
    .feature-item .fas,
    .feature-item .far {
      font-size: 45px;
    }

    /*FEEDBACK STYLES*/
    .feedback-wrap {
      flex-wrap: wrap;
      justify-content: center;
    }

    .feedback-item {
      flex-basis: 80%;
      padding-bottom: 30px;
    }

    .feedback-form {
      width: 70%;
    }

    .form-input, .form-textarea {
      padding: 15px;
    }
    
    /*FOOTER STYLES*/
    .footer-section .footer-subscribe-form {
      padding-bottom: 30px;
    }
    .footer-info-links {
      flex-wrap: wrap;
      padding-bottom: 80px;
    }

    .contacts{
      text-align: center;
      flex-basis: 100%;
      padding-bottom: 30px;
    }

    .hidden-in-mobile {
      display: none; 
    }

    /* Stats styles*/
    .stats-blockquote {
      max-width: 380px;
    }
    .stats-blockquote span:before,
    span:after{
      display: none;
    }

}

/* ==============================   360 ================================= */
  @media (max-width: 359.98px) {
    body{
      background-color: gold;
    }
  }

body{
  background-color: #fff;
}
